/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# For MacOS:
#
.DS_Store

# For emacs:
#*~
#\#*
#.\#*

# For vim:
#*.swp

# for IntelliJ IDEA
.idea

# general output files
*.log
*.out

# Archive
Old
